table{
    background-image: url("../img/fondo.jpg");
    background-repeat: none;

    width: 50%;
    
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;

}

img{
    padding: 10px;
    width: 90%;
    height: 180px;
}


table{
    margin: 0 auto;
    
}

.left{
    float: right;
}